@charset "utf-8";

/* CSS Document */
body {
    background-color: darkblue;
    flex-wrap: wrap;

}

header {

    background-color: aqua;
    text-align: center;
    font-size: 30px;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 5px solid;
    border-color: blueviolet;
    border-style: double;

}

#instrucciones, #divboton, #divcaja {
    display: flex;
   

    
}

#cuerpo {

    text-align: center;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;


}

#text {

    font-size: 20px;
    width: 35px;

}

#botonOk {

    font-size: 20px;
}

#botonEmp {

    font-size: 30px;
    background-color: green;
    height: 50px;

    
   
}

#cajaOculta {

    width: 100px;
    height: 100px;
    background-color: orange;
    border: 5px solid red;
  
    color: yellow;
    font-size: 80px;
}

#resultado {
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: slateblue;
}

#form {
    margin: auto;
    text-align: center;
}

#tabla {

  

}



.numeros {

    height: 45px;
    width: 80px;
    margin: 1px;
    padding: 1px;
    border-radius: 5px;
    border: 2px, solid, darkblue;
    text-align: center;
    text-justify: distribute;
    color: black;
    background-color: turquoise;
    font-size: 30px;
    font-weight: bold;
}