
#titulo{

    background-color: black;
    

}

h1{

    font-size: xx-large;
    font-family: monospace;
}



img {
    margin-top: 15px;
    height: 150px;
    border: 2px double cyan;
    

}

body{

    background-image: url(../img/img-aurora.jpg);
}



