@import url('https://fonts.cdnfonts.com/css/mixoutline');
@import url('https://fonts.cdnfonts.com/css/berenika');
@import url('https://fonts.cdnfonts.com/css/lilliput-steps');

                

#titulo{

    font-size: 10em;
    font-family: 'MixOutline', sans-serif;
    
}




.card img {
    margin-top: 15px;
    height: 150px;
    border: 2px double cyan;
    

}

body{

    background-image: url(../img/img-aurora.jpg);
   
                                                
}

h2{
    font-family: 'Lilliput Steps', sans-serif;

}