
h1, h2{

    font-family: 'Titan One', cursive;
    
    
}

h2 {
    text-align: center;
    font-size: 30px;
    color: turquoise;
    height: 70px;
    background-color: black;
    justify-content: center;
    padding-top: 15px;
}

li {
    font-size: 20px;
    color: turquoise;
    padding: 5px;

}


img {
    margin-top: 15px;
    height: 150px;

}

.card {

margin: 5px;
}

#cuerpo{
    
    background-color: black;
}

body, html{
    background-color: black;
}

.container-fluid{
    background-color: black;
}
